@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&display=swap');
body { 
    /* background-color: peachpuff; */
    background-image: url("/assets/newspaper_bg.jpg"); 
}

.display-4, .lead {
    text-align: center;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Merriweather', serif;
}

.jumbotron {
    background: rgba(255,255,255,0.5);
}

.btn {
   margin-right: 5px;
   float: right;
   margin-bottom: 2px;
}

.card-header {
    background-color: #2196f3;

}

.headlineLink, a {
    color: white !important; 
    font-weight: bold;
}

.bg-primary {
    background-color: #2196F3 !important;
}